/* External Styles: FONTS */
@font-face {
    font-family: "Shantell Sans";
    src: url(../fnt/ShantellSans-VariableFont.ttf) format("truetype");
}

/* External Classes */
.main-content-wrapper {
    padding: 1rem;
}
.sidebar-note-text {
    padding-top: 0.5em;
}
.line-break {
    flex-basis: 100%;
    height: 0;
    margin: 0;
    border: 0;
}
.review-rating-img {
    font-size: 17pt;
    line-height: 0.5;
    padding: 0em;
    width: 1.5em;
}
.review-date-text {
    font-family: "Shantell Sans";
    color: #474646 !important;
    font-weight: 200;
    font-size: 1rem;
}
.icon-anchor {
    text-decoration: none;
    margin-right: 6px;
}
.icon-anchor:hover {
    filter: invert(80%);
}
.form-select-container, .form-option, .form-text-field {
    font-family: "Shantell Sans";
    color: #000;
    font-weight: 300;
    font-size: 0.75rem;
    padding: 0.675em 0.25em 0.675em 0.25em;
    margin-right: 0.5rem;   
}
.image-frame {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    height: auto;
    width: 75%; 
    max-width: 500px;  
}
.image-frame-caption {
    text-align: center;
    padding: 2px 20px;
}
.rating-container {
    padding-right: 0.25rem;
    padding-top: 0.20rem;
    margin-bottom: 3px;
    margin-right: 10px;
}
.link-button {
    font-family: "Shantell Sans";
    background-color: #000;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-weight: 400;
}
.link-button:hover {
    background-color: #333;
}
.sitewide-infobar-grid-container {
    background-color: rgb(223, 173, 9);
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    display: grid;
    place-items: center;
}
.sitewide-infobar-text {
    font-family: "Shantell Sans";
    text-align: center;
    font-size: 0.80rem;
    font-weight: 500;
    margin: 0;
}
.sitewide-navbar-grid-container {
    background-color: rgb(242, 197, 51);
    padding: 1.05rem 1.20rem 1.05rem 1.05rem;
    display: grid;
    place-items: center;
    grid-template-columns: 160px 80px 80px 80px 105px 120px 105px 1fr 160px;
}
.sitewide-navbar-anchor_1, .sitewide-navbar-anchor_2, .sitewide-navbar-anchor_3, .sitewide-navbar-anchor_4,
.sitewide-navbar-anchor_5, .sitewide-navbar-anchor_6, .sitewide-navbar-anchor_7 {
    font-family: "Shantell Sans";
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
}
.sitewide-navbar-anchor_7 {
    grid-column: 9 / 10;
}
.sitewide-navbar-anchor_1:hover, .sitewide-navbar-anchor_2:hover, .sitewide-navbar-anchor_3:hover, .sitewide-navbar-anchor_4:hover,
.sitewide-navbar-anchor_5:hover, .sitewide-navbar-anchor_6:hover, .sitewide-navbar-anchor_7:hover {
   color: #fff;
}
.sitewide-navbar-icon {
    position: relative;
    top: 3px;
    grid-column: 10 / 11;
}
.sitewide-navbar-icon:hover {
    filter: invert(100%);
}
.seperator-container {
    text-align: center;
    color: #fff;
    margin: 0;
}
.seperator-heading {
    font-weight: bold;
    font-size: 2.5rem;
}
.seperator-tagline {
    font-weight: 400;
    font-size: 1.5rem;
}
.seperator-border {
    background-size: cover;
    background-position: center;
    width: auto;
    height: 10px;
}
.backsplash-container_sml, .backsplash-container_med,
.backsplash-container_lrg, .backsplash-container_var {
    text-align: center;
    color: #fff;
}
.backsplash-container_sml {
    padding: 3rem 2rem;  
}
.backsplash-container_med {
    padding: 8rem 2rem;  
}
.backsplash-container_lrg {
    padding: 16rem 2rem;  
}
.backsplash-heading {
    font-weight: bold;
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.backsplash-tagline {
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 15px;
}
.backsplash-paragraph_400 {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 15px;
}
.backsplash-paragraph_450 {
    font-weight: 450;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 15px;
}
.menu-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    column-gap: 15px;
    margin-bottom: 25px;
}
.menu-item-text {
    font-family: "Shantell Sans"; 
    color: #000;
    font-size: 2rem;
    font-weight: 400;
    position: relative;
    top: 0px;
}
.menu-calories-text {
    font-family: "Shantell Sans";
    color: #474646;
    font-size: 1.40rem;
    font-weight: 350;
    position: relative;
    bottom: 20px;
}
.menu-paragraph-text {
    position: relative;
    bottom: 16px;
    margin-top: -10px;
    padding-right: 0.5rem
}
.sitewide-footer-grid-container {
    background-color: rgb(242, 197, 51);
    margin-top: 0.5rem;
    min-width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 300px 125px 125px 125px 1fr;
    grid-template-rows: 120px 24px;
}
.sitewide-footer-grid-item_5 {
    background-color: rgb(211, 168, 27);
    text-align: center;
    height: 24px;
    min-width: 100%;
    grid-row: 2 / 3;
    grid-column: 1 / 9;
}
.sitewide-footer-grid-item_1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.sitewide-footer-grid-item_2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.sitewide-footer-grid-item_3 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}
.sitewide-footer-grid-item_4 {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}
.sitewide-footer-border-text {
    font-family: "Shantell Sans";
    color: #000;
    font-weight: 350;
    font-size: 0.80rem;
    margin: 0.25rem 0.25rem 0.25rem 0.25rem;
}
.sitewide-footer-heading-text {
    font-family: "Shantell Sans";
    color: #000;
    font-weight: 450;
    font-size: 0.80rem;
}
.sitewide-footer-anchor-text {
    font-family: "Shantell Sans";
    text-decoration: none;
    color: #474646;
    font-weight: 400;
    font-size: 0.65rem;
}
.sitewide-footer-anchor-text:hover {
    color: #a6a3a3;
}
.heading-sml_300, .heading-sml_400, .heading-sml_500, .heading-med_300, .heading-med_400, 
.heading-med_500, .heading-lrg_300, .heading-lrg_400, .heading-lrg_500, .heading-xlrg_500 {
    font-family: "Shantell Sans";
    font-style: normal;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.heading-sml_300 {
    font-weight: 300;
    font-size: 1.15rem;
}
.heading-sml_400 {
    font-weight: 400;
    font-size: 1.15rem;
}
.heading-sml_500 {
    font-weight: 500;
    font-size: 1.15rem;
}
.heading-med_300 {
    font-weight: 300;
    font-size: 1.5rem;
}
.heading-med_400 {
    font-weight: 400;
    font-size: 1.5rem;
}
.heading-med_500 {
    font-weight: 500;
    font-size: 1.5rem;
}
.heading-lrg_300 {
    font-weight: 300;
    font-size: 2rem;
}
.heading-lrg_400 {
    font-weight: 400; 
    font-size: 2rem;
}
.heading-lrg_500 {
    font-weight: 500;
    font-size: 2rem;
}
.heading-xlrg_500 {
    font-weight: 500;
    font-size: 2.5rem;
}
.paragraph_400, .paragraph_500 {
    font-family: "Shantell Sans";
    font-style: normal;
    font-size: 1rem;
    padding-left: 0.25rem;
    margin: 0;
}
.paragraph_400 {
    font-weight: 400;
}
.paragraph_500 {
    font-weight: 500;
}

/* External Styles: DEFAULT */
body {
    display: inline-block;
    font-family: sans-serif;
    min-width: 100%;
    margin: 0em;
    padding: 0em;
}
a {
    color: #000;
}
p {
    font-family: "Shantell Sans";
    font-style: normal;
    font-weight: 100;
    font-size: 1rem;
}
footer {
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

/* External Viewports: MAIN */
@media(min-width:992px) {
    .main-content-wrapper {
        display: flex;
    }
    .main-content-area {
        flex: 2;
        padding: 0.5rem;
    }
    .main-content-sidebar {
        width: 270px;
        padding: 0.75rem;
    }
    .big-text-banner {
        padding: 5rem;
    }
}
@media(min-width: 1200px) {
    .big-text-banner {
        padding: 8rem 5rem;
    }
}

/* External Viewport: MENU CONTAINERS */
@media(max-width: 1599px) {
    .menu-image-container {
        width: 325px;
    }
}
@media(min-width: 1600px) {
    .menu-image-container {
        width: 300px;
    }
}
@media(min-width: 1800px) {
    .menu-image-container {
        width: 250px;
    }
}
@media(min-width: 2200px) {
    .menu-image-container {
        width: 200px;
    }
}